.side-menu {
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 5vw;
  width: auto;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  .menu-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.3vw;
    color: #d9230f;
    display: block;
  }
  .menu-link:hover {
    color: #ba1e0d;
  }
}

.side-menu-template-header::before {
  display: block;
  content: ' ';
  height: 160px;
  visibility: hidden;
  pointer-events: none;
}
