.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
}

.result-collapse:hover {
  cursor: pointer;
  font-weight: bold;
}

.accuracy label {
  display: inline-block;
  text-align: center;
  margin: 0 0.5em;
}

.accuracy label input[type='radio'] {
  display: block;
  margin: 0.5em auto;
}
