/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

.check-4-fact {
  font-variant: small-caps;
  color: #ff3c00;
}

.carousel-caption {
  display: block !important; // Caption is visible on mobile.
  background: rgba(0, 0, 0, 0.6);
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

@media (min-width: 768px) {
  // Arrows not visible on mobile.
  .carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: #ba1e0d;
  }

  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #ba1e0d;
  }
}

.slider-header {
  color: #fff;
  font-size: 1.2rem;
}

.slider-text {
  font-size: 0.7rem;
}

.slider-header:hover {
  color: #fff;
}

.fact-checker-label {
  font-size: 1rem;
  &.label-true {
    color: green !important;
  }
  &.label-false {
    color: red !important;
  }
}
