$brand-primary-color: #001c4a;
$brand-secondary-color: #ff3c00;

$accuracy-color-0: color(gray-light);
$accuracy-color-1: theme-color(danger);
$accuracy-color-2: theme-color(warning);
$accuracy-color-3: #87d9cc;
$accuracy-color-4: theme-color(success);
