/* Pagination */

.pagination {
  padding-bottom: 100px;
  padding-top: 92px;
  .page-item {
    .page-link {
      border-color: $border-color;
      color: $text-muted;
      font-size: 14px;
      font-weight: 500;
      @media screen and (max-width: 600px) {
        padding: 10px 10px;
      }
      padding: 15px 30px;
    }
    .active {
      color: $primary;
    }
    &.active,
    &:hover,
    &:focus,
    &:active {
      .page-link {
        color: $primary;
      }
    }
  }
}
