@import 'brand_colors';

/* ==========================================================================
Main page styles
========================================================================== */
.check-4-fact {
  font-variant: small-caps;
  color: $brand-secondary-color;
}

/* ==========================================================================
Main page Carousel transition css
========================================================================== */

.carousel-div {
  text-align: center;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.vertical {
  margin: auto;
}

.vertical .carousel-inner {
  height: 150px;
}

.vertical .item {
  transition: 1s ease-in-out bottom;
}

.vertical .active {
  bottom: 0;
}

.vertical .carousel-item-next {
  bottom: 400px;
}

.vertical .carousel-item-prev {
  bottom: -400px;
}

.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
  bottom: 0;
}

.vertical .item.carousel-item.active.carousel-item-left {
  bottom: -400px;
  transform: translateX(0);
}

.vertical .active.carousel-item-right {
  bottom: 400px;
}

.vertical .carousel-item img {
  width: 100%;
  object-fit: cover;
}

.vertical .carousel-indicators {
  display: none;
}

/* ===============================================

================================================== */

.slider-header {
  color: #fff;
  font-size: 1.2rem;
}

.slider-text {
  font-size: 0.7rem;
}

.slider-header:hover {
  color: #fff;
}

.fact-checker-label {
  font-size: 1rem;
  &.label-true {
    color: green !important;
  }
  &.label-false {
    color: red !important;
  }
}
