@import 'brand_colors';

/* ==========================================================================
Main page styles
========================================================================== */
.check-4-fact {
  font-variant: small-caps;
  color: $brand-secondary-color;
}

/* ==========================================================================
Main page Carousel transition css
========================================================================== */

.carousel-div {
  text-align: center;
  height: 300px;
  width: 100%;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.caption-text {
  top: 20%;
  color: theme-color(light);
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
}

// .vertical {
//   margin: auto;
// }

// .vertical .item {
//   transition: 1s ease-in-out bottom;
// }

// .vertical .active {
//   bottom: 0;
// }

// .vertical .carousel-item-next {
//   bottom: 150px;
// }

// .vertical .carousel-item-prev {
//   bottom: -150px;
// }

// .vertical .carousel-item-next.carousel-item-left,
// .vertical .carousel-item-prev.carousel-item-right {
//   bottom: 0;
// }

// .vertical .item.carousel-item.active.carousel-item-left {
//   bottom: -150px;
//   transform: translateX(0);
// }

// .vertical .active.carousel-item-right {
//   bottom: 150px;
// }

.vertical .carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: blur(5px) grayscale(60%) brightness(50%);
}

.vertical .carousel-indicators {
  display: none;
}

/* ===============================================

================================================== */

.slider-header {
  color: #fff;
  font-size: 1.2rem;
}

.slider-text {
  font-size: 0.7rem;
}

.slider-header:hover {
  color: #fff;
}

.fact-checker-label {
  font-size: 1rem;
  &.label-true {
    color: green !important;
  }
  &.label-false {
    color: red !important;
  }
}

.form-control {
  height: calc(2.4em + 0.75rem + 2px);
}

.ekke-logo {
  padding-left: 22px;
}

.login-drop {
  span {
    color: theme-color(dark);
  }
  svg {
    color: theme-color(dark);
  }
}

// SEARCH BAR

.search-group {
  // all:initial;
  display: inline-flex;
  #search:focus,
  #search {
    font-size: 24px;
    background: transparent;
    color: #ffff;
    border: none;
    border-bottom: 3px solid #ffff;
    box-shadow: none !important;
    &::placeholder {
      color: #ffff;
    }
  }
  button,
  button:hover,
  button:focus,
  button:active {
    all: initial;
    color: #ffff;
    background: transparent !important;
    font-size: 20px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 3px solid #ffff !important;
    box-shadow: none !important;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: #ffff;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
